<mat-card>
  <mat-spinner *ngIf='isLoading'></mat-spinner>
  <form (submit)='onSignUp(signUpForm)' #signUpForm='ngForm' *ngIf='!isLoading'>
    <mat-form-field>
      <input
        matInput
        name='email'
        ngModel
        type='email'
        placeholder="Email"
        #emailInput='ngModel'
        email required />
      <mat-error *ngIf='emailInput.invalid'>Please enter a valid email!</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input
        matInput
        name='password'
        ngModel
        type='password'
        placeholder="Password"
        #password='ngModel'
        required />
      <mat-error *ngIf='password.invalid'>Please enter a valid password!</mat-error>
    </mat-form-field>
    <button mat-raised-button color='accent' type='submit'>SignUp</button>
  </form>
</mat-card>
